$subMain: #e5e5e5
$dark: #141414
$middle: #8c8c8c

html
  font-family: "Calibri Light"

body
  margin: 0
  background-color: $subMain

header
  #banner
    height: 40vh
    width: 100%
    background-image: url(/images/banner.webp)
    background-position: center center
    background-size: 100%
    display: flex
    justify-content: center
    align-items: center

    #name
      padding: 4% 6%
      border-radius: 10px
      font-size: 25px
      background-color: $subMain
      opacity: 0.7



main
  display: flex
  justify-content: space-between
  flex-flow: row nowrap
  flex: 0 1

  .nav
    padding: 1%
    height: 60vh
    flex-basis: 20%
    display: flex
    flex-flow: column nowrap
    align-items: center
    background-color: $dark

    h3
      font-size: 40px
      color: $subMain
      width: fit-content
      padding: 5%
      text-align: center

    &-games
      display: flex
      flex-flow: column nowrap
      align-items: center

      .gameLink
        font-size: 20px
        width: 100%
        background-color: $middle
        border-radius: 10px
        padding: 5%
        margin: 0 0 20%
        text-align: center
        cursor: pointer


  .games
    flex: 1 0

    .game
      display: none
      width: 100%
      height: 100%

      &.active
        display: flex

    .BJ
      position: relative
      width: 100%
      flex-flow: column nowrap
      align-items: center

      &-score
        margin: 1% 5%
        width: 90%
        display: flex
        justify-content: space-between

      &-result
        display: flex
        flex-flow: column nowrap
        align-items: center

      &-robotCards
        display: flex
        flex-flow: row wrap
        justify-content: space-evenly
        align-items: center

      &-playerCards
        display: flex
        flex-flow: row wrap
        justify-content: space-evenly
        align-items: center

      .card
        padding: 20px
        margin: 30px
        background-color: $dark
        color: $subMain
        border-radius: 10px

    .bones
      position: relative
      width: 100%
      flex-flow: column nowrap
      align-items: center

      &-robotBones
        width: 70%
        display: flex
        flex-flow: row wrap
        justify-content: space-evenly

      &-playerBones
        width: 70%
        display: flex
        flex-flow: row wrap
        justify-content: space-evenly

      .bone
        display: flex
        justify-content: center
        align-items: center
        width: 20px
        height: 20px
        margin: 3%
        background-color: $middle
        padding: 10px
        border-radius: 3px

      &-score
        margin: 1% 5%
        width: 90%
        display: flex
        justify-content: space-between

      &-actions
        width: 50%
        display: flex
        flex-flow: column nowrap

        input
          width: 50%

        *
          margin: 1%

      &-result
        display: flex
        flex-flow: column nowrap
        align-items: center









footer
